.positionFab {
  position: fixed;
  bottom: 12px;
  right: 12px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  /* background: red; */
  width: calc(calc(100% / 3) - 8px);
}

.img {
  /* width: 100%; */
  width: 90px;
  object-fit: cover;
  aspect-ratio: 78/109;
  border-radius: 4px;
}

.list {
  width: 100%;
  display: flex;
  gap: 16px;
}

.list span {
  margin-left: auto;
}
