.container {
  position: relative;
}

.indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  position: absolute;
  bottom: 24px;
  left: calc(50% - 20px);
  right: calc(50% - 20px);
}

.noActive {
  height: 6px;
  width: 6px;
  background-color: #0004;
  border-radius: 10px;
  transition:
    height 0.3s ease,
    width 0.3s ease,
    background-color 0.3s ease;
}

.active {
  height: 8px;
  width: 8px;
  background-color: #000;
  border-radius: 10px;
}

.boxCarrousel {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.itemCarrousel {
  flex: 1;
  scroll-snap-align: center;
}

.img {
  width: 100vw;
  max-width: var(--max-width);
  height: 100%;
  margin-top: -2px;
  aspect-ratio: 78/109;
  object-fit: cover;
}
