.button {
  color: #000;
  margin: 0 auto;
  width: 112px;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #808080;
  border-radius: 100px;
  cursor: pointer;
}

.button:active {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
