.mainBox {
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
}

.header {
  margin-top: 34px;
  margin-bottom: 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rowNewCollection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 14px;
  margin-bottom: 14px;
}

.rowCategories {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.textNewCollection {
  font-weight: lighter;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-top: 90px;
  margin-left: 26px;
  margin-bottom: 14px;
}
