.positionFab {
  position: fixed;
  bottom: 12px;
  right: 12px;
}

.positionBackArrow {
  position: absolute;
  left: 30px;
  top: 30px;
}

.boxCarrousel {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.itemCarrousel {
  flex: 1;
  scroll-snap-align: center;
}

.img {
  width: 100vw;
  max-width: var(--max-width);
  height: 100%;
  margin-top: -2px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 24px;
  margin-bottom: 80px;
}
