.positionFab {
  position: fixed;
  bottom: 12px;
  right: 12px;
}

.positionBackArrow {
  position: absolute;
  left: 30px;
  top: 30px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 24px;
  margin-bottom: 80px;
}
